/*  Estilos globais para centralizar todo o conteudo */
body,html
{
  height: 100%;
  margin: 0;
  display: flex;


  /* Muda imagem de fundo do jogo */
  background-image: url(assets/estrelas_jpg.jpg);

/* ___________________________________ */


  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  text-align: center;
  color: #ddd;
}

/* Estilos para cada quadrado */
.square {
  width: 100px;
  height: 100px;
  background-color: #16165cb5;
  border: 1px solid #32cd32;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para o vencedor */
.winner {
  background-color: #29a129ba;
  border-radius: 8px;
}

/* Estilos para o status do jogo */
.status {
  margin: 20px 0 ;
  text-align: center;
  font-size: 24px;
  color: #ddd;
}

/* Estilos para botão de reiniciar */
.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #32cd32;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para o botãon de reinicar no hover */
.reset-button:hover {
  background-color: #2bb42b;
}


